@import "config";

.table-main {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  min-width: 700px;
  //   table-layout: fixed;
  //   word-break: break-all;
  //   word-wrap: break-word;
}

.mat-column-sn {
  width: 8%;
}

.mat-column-name {
  max-width: 50px;
  border-right: 1px solid rgba($sec-color, 0.2);
  text-transform: capitalize;
}

td {
  word-break: break-all;
  word-wrap: break-word;
}

.mat-column-email {
  width: 30%;
}

.mat-column-roles {
  width: 40%;
  height: 100%;
}

.mat-column-icon {
  width: 5%;
}

::ng-deep .mat-mdc-paginator-range-label {
  display: block;
  white-space: nowrap;
}

.roles {
  &-main {
    overflow: hidden;
    max-width: 200px;
    white-space: nowrap;

    & .another-roles {
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
    }
  }
}

.menu-btn {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & .fa-ellipsis-vertical {
    color: $main-color;
    cursor: pointer;
  }
}

.role-menu-container {
  padding: 10px;
}
