@import "config";

.users-container {
  width: 100%;
  padding: 30px 30px;
}

.error-msg {
  font-size: 2rem;
  background-color: red;
  color: $white;
  padding: 10px 10px;
}

.users-header {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.users-table {
  width: 100%;
}

.users-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users-info {
  &-loader {
    width: 150px;
  }
  &-heading {
    font-size: 1.2rem;
    font-weight: 500;
  }

  &-count {
    color: $sec-color;
  }
}

.users-actions-main {
  display: flex;
  align-items: center;

  &-search {
    position: relative;
    margin-right: 10px;
    height: 34px;

    .search-icon {
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      color: rgb(207, 207, 207);
    }

    & input {
      width: 100%;
      height: 100%;
      padding: 8px 0;
      padding-left: 30px;
      outline: none;
      border: 1px solid rgb(207, 207, 207);
      border-radius: 4px;

      &:focus {
        outline: none;
      }
    }
  }

  &-btn {
    height: 34px;
    & button {
      height: 100%;
      display: inline-block;
      border: none;
      padding: 10px 20px;
      background-color: $green;
      color: $white;
      font-size: 1rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background-color: $green-hover;
      }
    }
  }
}

.zero-users {
  font-size: 1.3rem;
  margin-top: 30px;
}

.table-container {
  min-width: 700px;
}

.table-main {
  width: 100%;
  overflow-x: scroll;
}

table {
  width: 100%;
}

.mat-column-sn {
  width: 8%;
}

.mat-column-name {
  width: 20%;
}

.mat-column-email {
  width: 40px;
}

.mat-column-roles {
  width: 40%;
  height: 100%;
}

.mat-column-icon {
  width: 5%;
}

.roles {
  &-main {
    // display: inline-block;
    overflow: hidden;
    max-width: 200px;
    white-space: nowrap;

    & .another-roles {
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
    }
  }
}

.menu-btn {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & .fa-ellipsis-vertical {
    color: $main-color;
    cursor: pointer;
  }
}

.role-menu-container {
  padding: 10px;
}

@media (max-width: 520px) {
  .users-actions {
    flex-direction: column;
    align-items: flex-start;
  }

  .users-info-content {
    margin-bottom: 15px;
  }
}
