<div class="users-container">
  <div class="users-header">Users Management Dashboard</div>

  <div class="error-msg" *ngIf="isError">Something went wrong!</div>

  <div class="users-actions" *ngIf="!isError">
    <div class="users-info">
      <div class="users-info-loader" *ngIf="isLoading">
        <ngx-skeleton-loader
          [appearance]="'line'"
          [theme]="{ height: '50px', background: 'rgb(240, 240, 240)' }"
        ></ngx-skeleton-loader>
      </div>

      <div class="users-info-content" *ngIf="!isLoading">
        <div class="users-info-heading">Users</div>
        <div class="users-info-count">
          You have {{ dataSource.data.length }} users
        </div>
      </div>
    </div>

    <div class="users-actions-main">
      <div class="users-actions-main-search">
        <mat-icon class="search-icon">search</mat-icon>
        <input
          type="text"
          (keyup)="onFilter($event)"
          placeholder="search users"
        />
      </div>
      <div class="users-actions-main-btn">
        <button (click)="onAddUser()">Add user</button>
      </div>
    </div>
  </div>

  <div
    class="zero-users"
    *ngIf="dataSource.data.length == 0 && !isLoading && !isError"
  >
    No users in your team yet. Add user
  </div>

  <div class="table-container" *ngIf="!isError">
    <app-users-table [dataSource]="dataSource"></app-users-table>
  </div>
</div>
